body{
	margin: 0;
	background-color: #f8f8f8;
}
a{
	color: white;
	text-decoration: none;
}


/* top栏 */
.top {
	height: 12.53vw;
	display: flex;
	background-color: #ffffff;
	align-items: center;
	padding: 4.93vw 0 3.2vw 4.53vw;
	border-bottom: 0.2vw solid #e7e7e7;
}

.top .close img {
	width: 4.67vw;
}

.top .title {
	width: 70.7vw;
	font-size: 4.53vw;
	color: black;
	padding-left: 3.4vw;
	border-left: 0.5vw solid black;
	margin: 0 3.53vw 0 5.87vw;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.top .list img {
	height: 4.27vw;
}

/* 地址列表 */
.address{
	background-color: white;
	margin-bottom: 4.27vw;
}
.address .des{
	font-size: 3.47vw;
	padding: 3.87vw 3vw 3.73vw 4.67vw;
	border-bottom: 0.2vw solid #f8f8f8;
}
.address .des .address_des{
	width: 81.87vw;
}
.address .nav{
	display: flex;
	align-items: center;
	padding: 2vw 4vw;
}
.address .default{
	font-size: 3.57vw;
	color: #000000;
	flex: 6;
}
.address .default input{
	width: 2.67vw;
	height: 2.67vw;
	margin-right: 2vw;
}
.address .nav .editor{
	flex: 2;
	font-size: 3.73vw;
	color: white;
	background-color: #ff2732;
	text-align: center;
	padding: 1.47vw 3.93vw;
	border-radius: 4px;
}
.address .nav .del{
	flex: 2;
	text-align: center;
}
.address .nav .del img{
	width: 5.47vw;
	height: 5.47vw;
}





/* 保存 */
.save {
	width: 100vw;
	height: 14vw;
	left: 0;
	bottom: 0;
	position: fixed;
	background-color: #ff2732;
	color: white;
	font-size: 3.47vw;
	text-align: center;
	line-height: 14vw;
}
